<%= form_for @changeset, products_path(@conn, :update, @changeset.data.id), fn f -> %>
  <%= render Inventory.ProductsView, "form.html", f: f, buckets: @buckets, product_buckets: @product_buckets %>
<% end %>
