<label>
  title: <%= text_input @f, :title %>
</label>

<%= multiple_select( @f, :bucket_ids, Enum.map(@buckets, &{&1.name, &1.id}), prompt: "Choose A bucket", selected: Enum.map(@product_buckets, &(&1.bucket_id))) %>

<%= submit "Submit" %>
