<h1><%= @bucket.name %></h1>

<%= if @bucket.products do %>
  <h2>Products</h2>

  <ul>
    <%= for product <- @bucket.products do %>
      <li>
        <strong><%= product.title %></strong>
        <%= link "Edit", to: products_path(Inventory.Endpoint, :edit, product.id) %>
        <%= link "Delete", to: products_path(Inventory.Endpoint, :delete, product.id), method: :delete, data: [confirm: "Delete product?"] %>
      </li>
    <% end %>
  </ul>
<% end %>
